.parent {
    display: grid;
    grid-template-columns: .5fr repeat(3, 2fr) .5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 5; }
    .div2 { grid-area: 2 / 2 / 3 / 5; }
    .div3 { grid-area: 3 / 2 / 6 / 5; }
h1{
    text-align:center;

}